<ion-card>
  <ion-card-header>
    <ion-card-title>Triángulo</ion-card-title>
    <ion-card-subtitle>Perímetro</ion-card-subtitle>
  </ion-card-header>
  
  <ion-card-content>
    El perímetro de un triángulo es la suma de las longitudes de sus tres lados.
    En otras palabras, es la medida total del contorno o borde del triángulo.
  </ion-card-content>

  <img src="assets/perimetro-triangulo.png" class="triangulo-img" />
  
</ion-card>

<form>
  <ion-input [(ngModel)]="trianguloLadoA" name= "ladoA" label="Lado A (cm)" label-placement="floating" fill="solid" ></ion-input>
  <ion-input [(ngModel)]="trianguloLadoB" name= "ladoB" label="Lado B (cm)" label-placement="floating" fill="solid" ></ion-input>
  <ion-input [(ngModel)]="trianguloLadoC" name= "ladoC" label="Lado C (cm)" label-placement="floating" fill="solid" ></ion-input>
</form>

<ion-item>
  <ion-button (click)="calcularPerimetro()">Calcular el perímetro</ion-button>
</ion-item>

<p *ngIf="resultado != 0">
  El perímetro es {{resultado}} cm
</p> 